.paginator {
    margin: 10px;
}

.pageNumber {
    padding: 2px;
    border: 2px solid blanchedalmond;
}

.selectedPage {
    font-weight: bold;
    color: gold;
}

.paginatorItem {
    padding: 5px;
}

.paginatorItem:hover {
    color: gold;
}

.paginatorArrow {
    font-weight: bold;
    font-size: 26px;
}

.paginatorArrow:hover {
    color: gold;
}
