.user {
    display: flex;
}

.avaButton {
    padding-right: 20px;
}

.message {
    margin: 3px;
    border-top: 1px solid white;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.userPhoto {
    width: 70px;
    height: 70px;
}

