.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0,.2)
}

.header img {
    width: 60px;
    height: 60px;
}

.loginBlock a {
    color: white;
}