.descriptionBlock {
    padding: 10px;
    display: flex;
}

.descriptionBlock img {
    display: flex;
    align-self: flex-start;
}

.descriptionBlockItem {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}