.descriptionBlock {
    padding: 10px;
    display: flex;
}

.descriptionBlockItem {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mainPhoto {
    width: 300px;
    height: 300px;
}

.avatar {
    display: flex;
    flex-direction: column;
}