.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
            "dialog messag"
            "areabutton areabutton";
}

.dialogs__items {
    padding: 10px;
    text-align: center;
    grid-area: dialog;

}

.dialogs__items .active {
    color: gold;
}

.messages {
    padding: 10px;
    grid-area: messag;
}

.dialog img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.areabutton {
    grid-area: areabutton;
    display: flex;

}

.areabutton button {
    margin-left: 10px;
}
