.nav {
    grid-area: nav;
    background: blueviolet;
    padding: 20px;
}

.item {
    margin: 5px 0;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}

