.nav
{ padding: 20px; background: blueviolet; 

    grid-area: nav; 
}

.item
{
    margin: 5px 0;
}

.item a
{ text-decoration: none;

    color: white; 
}

.item a.activeLink
{
    color: gold;
}

